---
import { baseUrl } from 'utils/functions';
---

<section class='hero'>
  <img draggable="false" src={baseUrl('/assets/titulo.avif')} alt='titulo' class='am-titulo' />
</section>

<style>
  .hero {
    height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    --square-size: 50px;
    --square-size-plus-one: calc(var(--square-size) + 1px);
    --square-size-negative: calc(var(--square-size) * -1);

    background-image: radial-gradient(ellipse, #0000 20%, #0004 40%, #000 65%),
      repeating-linear-gradient(
        to bottom,
        transparent 0 var(--square-size),
        #555 var(--square-size) var(--square-size-plus-one)
      ),
      repeating-linear-gradient(
        to right,
        transparent 0 var(--square-size),
        #555 var(--square-size) var(--square-size-plus-one)
      ),
      radial-gradient(ellipse 500px 600px at 50% 60%, #143071, transparent),
      radial-gradient(circle 300px at 40% 40%, #8e1765, transparent);
    animation: move 2.5s linear infinite;

    @media (width <= 1111px) {
      --square-size: 40px;
    }
    @media (width >= 3000px) {
      --square-size: 25px;
    }

    .am-titulo {
      width: 40%;
      mix-blend-mode: lighten;
    }
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position:
        0 0,
        var(--square-size-negative) var(--square-size-negative),
        var(--square-size-negative) var(--square-size-negative),
        0 0,
        0 0;
    }
  }
</style>
