---
import '@styles/global.css';
import { baseUrl } from 'utils/functions';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/svg+xml'
      href={baseUrl('/assets/favicon.webp')}
    />
    <title>20 Projects with CSS Art</title>
  </head>
  <body>
    <slot />

    <script>
      import '@scripts/script.js';
    </script>
  </body>
</html>
