---
import '@styles/global.css';
import { baseUrl } from 'utils/functions';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/svg+xml'
      href={baseUrl('/assets/favicon.webp')}
    />
    <title>20 Projects with CSS Art</title>
  </head>
  <body>
    <slot />

    <script>
      import 'atropos/atropos.min.css';
      import Atropos from 'atropos';
      import { $$ } from 'utils/functions';

      document.addEventListener('DOMContentLoaded', () => {
        const $cards = $$('.my-atropos');
        $cards.forEach(el => {
          const myAtropos = Atropos({
            el,
            activeOffset: 40,
            shadowScale: 1,
            alwaysActive: true
          });
        });
      });
    </script>
  </body>
</html>
